* {
    box-sizing: border-box;
}

#board{
    background-color: #eee;
    display: flex;
    flex-flow: row wrap;
  }
  
   #board .block{
    border: solid gray 1px;
  }
  
  #board .block.selected{
    border: solid gray 1px;
    background-color: red;
  } 